<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Application Review</title>
    <link href= "styles.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="confirmation-container">
        <h1>Application Information</h1>

        <strong>Company Name: </strong><%- companyName %>
        <br>
        <strong>Hourly Wage/Total Compensation: </strong><%- hourlyWage %>
        <br>
        <strong>Location: </strong><%- location %>
        <br>
        <strong>Role: </strong><%- role %>
        <br>
        <strong>Additional Information: </strong>
        <br>
        <%- additionalInfo %>
        <br><br>
        <a href="../">Home</a>
    </div>

</body>

</html>