<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href= "styles.css" rel="stylesheet" type="text/css" />
    <title>View All Applications</title>
  </head>
  <body>
    <div class="table-container">
      <h1>View All Applications</h1>
      <table border="1">
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Hourly Wage/Total Compensation</th>
            <th>Location</th>
            <th>Role</th>
            <th>Additional Information</th>
          </tr>
        </thead>
        <tbody>
          <% for (const application of applications) { %>
            <tr>
              <td><%- application.companyName %></td>
              <td><%- application.hourlyWage %></td>
              <td><%- application.location %></td>
              <td><%- application.role %></td>
              <td><%- application.additionalInfo %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <br><br>
      <a href="../">Home</a>
    </div>
  </body>
</html>
